@include mediaMd {
  .companyinfo {
    margin-left: 7%;
    margin-right: 15%;
    margin-top: 5rem;

    .left {
      width: 100%;
      margin-bottom: 1rem;
    }
    .right {
      width: 100%;
    }
  }

  .galleryh2 {
    margin-right: 15%;
  }
  .gallerygrid {
    grid-template-areas:
      "contact"
      "image1"
      "image2"
      "image3"
      "image4";

    grid-template-columns: 2fr;
  }

  .contact {
    margin-right: 15%;
  }
}
