@include mediaMd {
  .companyinfo {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5rem;

    .left {
      width: 100%;
      margin-bottom: 1rem;
    }
    .right {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
