@import "config";

* {
  box-sizing: border-box;
  padding: 0 0 0;
  margin: 0 0 0;
}

body {
  background: $secondary-color;
}

h1 {
  color: $primary-color;
  font-size: 50px;
  font-weight: 50x;
  &.firmname {
    color: black;
    align-self: center;
    font-family: sans-serif;
  }
}
.head {
  align-content: space-around;
  margin-top: 2rem;

  h1 {
    text-align: left;
    margin-left: 7%;
    margin-right: 9%;
  }

  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 53px;
    cursor: pointer;

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: black;
    }
  }
}

.companyinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-left: 2%;
  margin-right: 2%;
  .left {
    width: 40%;
    height: 50%;
    .image2 {
      border: 2px solid #fff;
      width: 100%;
      margin-top: 2rem;
    }
  }

  .image1 {
    @include easeIn;
    border: 2px solid #fff;
    margin: 1rem 0 0;
    max-width: 44.9%;
    max-height: 100%;
    &:hover {
      @include easeOut;
      border: 10px solid #fff;
    }
  }
}
@import "mobile";
