@import "config";

* {
  box-sizing: border-box;
}

body {
  background: $secondary-color;
}

.name-bg {
  background-color: blue;
  position: relative;
  align-items: center;
  height: fit-content;
  width: 100%;
}

h1 {
  color: $primary-color;
  font-size: 100px;
  font-weight: 100px;
  &.firmname {
    position: relative;
    font-family: "Times New Roman", Times, serif;
  }
}
