@import "config";
@import "menu";

* {
  box-sizing: border-box;
  padding: 0 0 0;
  margin: 0 0 0;
}

body {
  background: $primary-color;
}

h1 {
  font-size: 50px;
  font-weight: 50x;
  &.firmname {
    align-self: center;
    font-family: sans-serif;
  }
}
.head {
  align-content: space-around;
  margin-top: 2rem;

  h1 {
    text-align: left;
    margin-left: 7%;
    margin-right: 9%;
    color: $secondary-color;
  }
}

.companyinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-left: 2%;
  margin-right: 2%;

  .left {
    width: 40%;
    height: 50%;
    color: $secondary-color;
    p {
      margin-top: 1rem;
    }

    .image2 {
      border: 2px solid $secondary-color;
      width: 100%;
    }
  }

  .right {
    width: 45%;
    height: 100%;
    align-items: flex-end;
    padding-top: 2.5rem;

    .image1 {
      border: 2px solid $secondary-color;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
.galleryh2 {
  color: $secondary-color;
  margin-left: 7%;
  margin-top: 5rem;
  margin-right: 10%;
}

.gallerygrid {
  display: grid;
  grid-gap: 50px;

  grid-template-areas:
    "image1 image2"
    "image3 image4";
  grid-template-columns: 2fr;
  margin-left: 7%;
  margin-right: 12%;
  margin-bottom: 4rem;
}
.image1 {
  grid-area: image1;
  height: 410px;
  width: fit-content;
}

.image2 {
  grid-area: image2;
  height: 410px;
  width: fit-content;
}

.image3 {
  grid-area: image3;
  height: 410px;
  width: fit-content;
}
.image4 {
  grid-area: image4;
  height: 410px;
  width: fit-content;
}

.contact {
  margin-top: 6rem;
  margin-left: 7%;
  margin-right: 12%;
  margin-bottom: 2rem;
  padding-left: 1%;
  .works {
    text-decoration: underline;
    font-size: 250%;
    padding-bottom: 1rem;
  }
  .h1,
  h2 {
    margin: 1rem 1rem 1rem;
  }
  color: white;
  background-color: darken($primary-color, 5%);
}
.image {
  overflow: hidden;
}

@import "mobile";
